@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="card">
        <div class="card-header">
            Listado de Asignaciones
        </div>
        <div class="card-body">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Serie</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Asignar</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>#asd</td>
                  <td>test</td>
                  <td>asignado<td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary btn-lg text-right">Agregar un Empleado</button>
        </div>
    </div>

</div>


