@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model List<Empleado>
}

<div class="container">
    <div class="card">
        <div class="card-header">
            Listado de Empleados
        </div>
        <div class="card-body">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Cargo</th>
                  <th scope="col">Cedula</th>
                  <th scope="col">Area</th>
                </tr>
              </thead>
              <tbody>
                @foreach (var empleado in Model)
                {
                    <tr>
                        <td>@empleado.Nombre</td>
                        <td>@empleado.Cargo</td>
                        <td>@empleado.Cedula</td>
                        <td>@empleado.Area</td>
                    </tr>
                }
              </tbody>
            </table>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary btn-lg text-right">Agregar un Empleado</button>
        </div>
    </div>

</div>


